{% extends "base.html" %}

{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static "challenges/challenges.css" %}">
<link rel="stylesheet" href="{% static "challenges/includes/header.css" %}">
{% endblock %}

{% block page_title%}All Challenges {% endblock %}

{% block content %} 
{% include "Challenges/includes/header.html" %}
<ul>
    {% for month in months %}
    <li><a href="{% url "month-challenge" month %}">{{month | title}}</a></li>
    {% endfor %}
</ul>
{% endblock %}

<!-- <!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>All Challenges</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <ul>
        {% for month in months %}
        <li><a href="{% url "month-challenge" month %}">{{month | title}}</a></li>
        {% endfor %}
    </ul>
</body>
</html>-->




